$color-bg: #2c1e1c;
$color-accent: #8c5e3c;
$color-text-light: #e9dac1;
$color-text-dark: #3c3c3c;
$color-button: #b87333;
$color-button-hover: #99582a;
$color-border: #c2b280;
$color-card: #d7c4a3;

$font-time: "Share Tech Mono", monospace;
$font-primary: "Urbanist", sans-serif;
